// reset CSS
@import url(_reset.scss);

.forgotForm{
    width: 391px;
    height: 388px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
    padding-left: 7%;
    padding-right: 7%;
    h1{
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        font-weight: 700;
        margin: 0px;
    }
    form {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h3{
            font-size: 1.3rem;
        }
        input{
            width: 100%;
            height: 20%;
            border: 1px solid #C1C1C1;
            border-radius: 8px;
            padding-left: 1rem;
            outline: none;
        }
        button{
            width: 100%;
            height: 20%;
            color: #FFFFFF;
            background-color: #FF0000;
            font-weight: 500;
            font-size: 1rem;
            border: none;
            border-radius: 8px;
            &:hover {
                cursor: pointer;
            }
        }
        .forgotForm__question{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            font-weight: 500;
            p{margin: 0px; }
            a{
                color: #FF0000;
                font-weight: 700;
            }
        }
    }
}