// Reset css
@import "_reset.scss";

.homePage {
  height: 1641px;
  width: 100%;
  .homePage__nav {
    color: #f8f8fb;
    height: 100%;
    background-color: #373b53;
    .homePage__nav__logo {
      width: 60%;
      height: auto;
      object-fit: cover;
      padding-top: 3%;
      padding-bottom: 10%;
    }

    // Remove later ↓
    div {
      &:hover {
        cursor: pointer;
        color: rgba($color: #e601013b, $alpha: 0.8);
        background-color: rgba($color: #e601013b, $alpha: 0.2);
      }
    }
    // Remove later ↑

    .homePage__nav__Row {
        height: 2%;
        margin-bottom: 5%;
        position: relative;
        color: #C1C1C1;
      .homePage__nav__Row__iconLeft {
        font-size: 1.3rem;
        padding-left: 7%;
      }

      span {
        font-size: 1rem;
        padding-left: 10%;
        font-weight: 600;
      }

      .homePage__nav__Row__iconRight {
        font-size: 1.3rem;
        position: absolute;
        right: 10%;
        top: 15%;
      }
    }
  }
}
