// Reset Css
@import "_reset.scss";

.header {
  height: 10%;
  width: 100%;
  background-color: rgba(55, 59, 83, 1);

  .header__rate{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    span{
      color: rgba(255, 0, 0, 1);
    }
  }
  img{
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  button{
    height: fit-content;
    width: fit-content;
    border: 1px solid rgba(255, 0, 0, 1);
    border-radius: 4px;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #FF0000;
    &:hover{
      cursor: pointer;
      background-color: #c4483544;
    }
  }
}

.content {
  height: 690px;
  width: 100%;
  background: url(../assets/img/Login_background_IMG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 25%;
  background-color: rgba(55, 59, 83, 1);
  padding: 1.5%;
  .footer__about,h2, li, a{color: #FFFFFF; font-weight: 500;}
  .footer__about{a{color: rgba(255, 90, 54, 1);}margin-bottom: 0.4rem;}
  li{list-style-type: none; line-height: 1.7rem;}
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  a:hover {
    color: #eb4040bb;
  }
}
.switchButton{
  background-color: #FF0000;
  border-radius: 4px;
  button{
    color: #FFFFFF;
  }
}