// Reset css
@import url(_reset.scss);

.registerForm{
    height: 565px;
    width: 404px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
    padding-left: 7%;
    padding-right: 7%;
    h1{
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        font-weight: 700;
        margin: 0px;
    }
    form {
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .form-group{
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            border: 1px solid #C1C1C1;
            border-radius: 8px;
            div{
                width: 17%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #C1C1C1;;
                .svg-inline--fa{
                    height: 1.5rem;
                    color: #C1C1C1;
                }
            }
            input{
                width: 82%;
                height: 100%;
                border: none;
                padding-left: 1rem;
                outline: none;
            }
        }
        button{
            width: 100%;
            height: 11%;
            color: #FFFFFF;
            background-color: #FF0000;
            font-weight: 500;
            font-size: 1rem;
            border: none;
            border-radius: 8px;
            &:hover{
                cursor: pointer;
            }
        }
        .loginForm__question{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            font-weight: 500;
            p{
                margin: 0px;
            }
            a{
                color: #FF0000;
                font-weight: 700;
            }
        }
    }
}